<nav class="row justify-content-between pl-5 pr-5 pt-5">
    <div class="nav-left col-3">
        <div>EI</div>
    </div>
    <div class="nav-right d-flex justify-content-between col-3 g-dark">
        <div class="intro"> < /intro></div>
        <div>Portfolio</div>
        <div>About</div>
        <div>Contact</div>
    </div>
</nav>

